{% extends 'admin/index.html' %}

	{% block css %}

    {% endblock %}
    {% block forms %}
            <div class="am-u-sm-offset-2 am-u-sm-10">
			    <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black ">
			        <thead>
			            <tr>
			                <th>ID</th>
			                <th>文章</th>
			                <th>评论人</th>
			                <th>内容</th>
			                <th>时间</th>
			            </tr>
			        </thead>
			        <tbody>
			        {% for i in cominfo %}
			            <tr class="gradeX">
			                <td class="am-text-middle">{{ i.Comment.id }}</td>
			                <td class="am-text-middle">{{ i.Article.title }}</td>
			                <td class="am-text-middle">{{ i.Comment.con }}</td>
			                <td class="am-text-middle">{{ i.Comment.addtime }}</td>
			                <td class="am-text-middle">
			                    <div class="tpl-table-black-operation">
			                        <a href="{{ url_for('admin.delcomment',cid=i.Comment.id) }}"> 
			                            <i class="am-icon-pencil"></i> 删除
			                        </a>			                       
			                    </div>
			                </td>
			            </tr>
			        {% endfor %}
			        </tbody>
			    </table>
			</div>
    {% endblock %}