{% extends 'admin/index.html' %}
	{% block forms %}
	<div class="tpl-content-wrapper">
    	<div class="row-content am-cf">
    	    <div class="row">
    	        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
    	            <div class="widget am-cf">
						<div class="am-u-md-offset-6 am-u-md-8 am-u-lg-3">
    					    <form action="" method="">
    					        <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
    					            <input type="text" name="keywords" value="" class="am-form-field ">
    					        	<span class="am-input-group-btn">
							 		    <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search">
							 		    </button>
							 	   </span>
    					        </div>
    					    </form>
    					</div>
						<div class="am-u-sm-offset-1 am-u-sm-10">
    					    <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black ">
    					        <thead>
    					            <tr>
    					                <th>ID</th>
    					                <th>所属分类</th>
    					                <th>操作</th>
    					            </tr>
    					        </thead>
    					        <tbody>
    					        {% for i in ty %}
    					            <tr class="gradeX">
    					                <td class="am-text-middle">{{ i.id }}</td>
    					                <td class="am-text-middle">{{ i.tname}}</td>
    					                <td class="am-text-middle">
    					                    <div class="tpl-table-black-operation">
    					                        <a href="{{ url_for('admin.typeadd',tid=i.id) }}"> 
                                                    <i class="am-icon-pencil"></i>添加
                                                </a>
                                                <a href="{{ url_for('admin.typeedit',tid=i.id) }}"> 
    					                            <i class="am-icon-pencil"></i> 编辑
    					                        </a>
    					                        <a href="{{ url_for('admin.deltype',tid=i.id) }}" class="tpl-table-black-operation-del">
    					                            <i class="am-icon-trash"></i> 删除
    					                        </a>
    					                    </div>
    					                </td>
    					            </tr>
    					        {% endfor %}
    					        </tbody>
    					    </table>
    					</div>
    					<div class="am-u-lg-12 am-cf">
    					    <div class="am-fr">
    					        <ul class="am-pagination tpl-pagination">
    					        </ul>
    					    </div>
    					</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
